.date {
    margin-top: .2rem;
    font-size: 1.3rem;
}

.input{
    font-size: 1.6rem;
    padding-inline: .3rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
}

.item {
    margin-top: 1rem;
    font-size: 1.4rem;
    width: 50rem;
    margin-right: 2rem;
    display: flex;
    justify-content: space-between;
}

.margin {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.produse-show {
    width: 80vw;
    display: flex;
}

.margin-loading {
    margin: auto;
    margin-top: 1rem;
}

.created {
    font-size: 1rem;
}

.selected-labels {
    margin-top: 20px;
}

.label-container {
    width: 210mm;
    height: 297mm;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;
    /* Enable wrapping */
    justify-content: flex-start;
    /* Align items at the start of the container */
    align-items: flex-start;
    /* Align items at the start of the container */
}

.label {
    width: calc(20% - 20px);
    /* Adjusted to fit 5 labels per row */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    position: relative;
    background-color: white;
    font-family: BarcodeFont, Arial, sans-serif;
    /* Use your barcode font */
}

.label-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.label span {
    display: block;
}

.barcode {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background-color: #000;
    height: 3px;
}

.label button {
    margin-top: 5px;
    cursor: pointer;
}

@media print {
    .label-container {
        width: 210mm;
        height: 297mm;
        margin: 0;
        padding: 0;
        border: none;
    }

    .label {
        width: calc(20% - 20px);
        margin: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
}