@import url('https://fonts.cdnfonts.com/css/idautomationhc39m');

.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

.left-filters {
    display: flex;
}

.date-sort:hover {
    color: black;
    cursor: pointer;
}

.date {
    margin-top: .2rem;
    font-size: 1.3rem;
}

.sort {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.pagination {
    display: flex;
}

.page-arrow:hover {
    cursor: pointer;
    color: #000080;
}

.arrow-disabled {
    color: gray;
}

.flex-arrow {
    display: flex;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 50%;
}

.input {
    font-size: 1.6rem;
    padding-inline: .3rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
}

.bulk-mode-toggle {
    display: flex;
    align-items: center;
}

.bulk-toggle {
    cursor: pointer;
    font-size: 1.2rem;
    background-color: #000080;
    padding: .3rem;
    padding-inline: .8rem;
    color: white;
    font-weight: 600;
}

.bulk-toggle:hover {
    background-color: #000080c2;
}

.select-all {
    cursor: pointer;
    font-size: 1.2rem;
    background-color: #FAF9F6;
    padding: .1rem;
    padding-inline: .8rem;
    color: #000080;
    border: 1px solid #000080;
    font-weight: 600;
    margin-left: .4rem;
}

.select-all:hover {
    background-color: #ececec;
}

.item {
    margin-top: 1rem;
    font-size: 1.4rem;
    width: 50rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
    background-color: #FAF9F6;
    padding: 1rem;
    border-radius: 1rem;
    color: #000080;
}

.margin {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-left: 1rem;
}

.prod-list {
    min-width: 42%;
    max-width: 42%;
}

.produse-show {
    width: 80vw;
    display: flex;
}

.margin-loading {
    margin-top: 1rem;
    margin-left: 6rem;
}

.created {
    font-size: 1rem;
}

.options-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.print-btn {
    cursor: pointer;
}

.print-btn:hover {
    color: gray;
}

.add-blank {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

.add-blank:hover {
    color: #000080;
}

.selected-labels {
    margin-top: -2rem;
}

.label-container {
    width: 210mm;
    height: 297mm;
    margin: auto;
    box-sizing: border-box;
    border: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;
    /* Enable wrapping */
    justify-content: flex-start;
    /* Align items at the start of the container */
    align-items: flex-start;
    /* Align items at the start of the container */
    padding: 1rem;
}

.label {
    width: calc(25% - 10px);
    /* Adjusted to fit 4 labels per row */
    height: calc(100% / 12);
    /* Adjusted to fit 12 rows */
    margin-inline: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    position: relative;
    background-color: white;
    font-family: Arial, sans-serif;
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* Use your barcode font */
}

.label-title {
    font-size: 1.1rem;
    font-weight: 600;
}

.add-label {
    width: 3rem;
    cursor: pointer;
    border: none;
    background-color: #000080;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.add-label:hover {
    background-color: #000080c2;
}

.delete-label {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 2%;
}

.label-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.label span {
    display: block;
}

.barcode {
    font-family: 'IDAutomationHC39M', sans-serif;
    font-size: 1.5rem;
}

.label button {
    margin-top: 5px;
    cursor: pointer;
}

@media print {
    .delete-label {
        display: none;
    }

    .label-container {
        width: 210mm;
        height: 297mm;
        margin: 0;
        padding: 0;
        border: none;
    }

}