.home-flex {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    width: 90%;
}

.group {
    margin-top: 1rem;
    font-size: 1.6rem;
    color: #000080;
    font-weight: 600;
    margin-bottom: .3rem;
}

.categorie-select {
    margin-bottom: 1rem;
}

.generated-flex {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    font-size: 2.2rem;
    align-items: center;
}

.noselect {
    user-select: none;
}

.button {
    width: 15rem;
    background-color: #FAF9F6;
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 1rem;
    margin-top: .5rem;
    padding: .3rem;
    color: #010149;
}

.button:hover {
    background-color: rgb(221, 228, 234);
}

.width {
    width: 20rem;
    font-size: 1.5rem;
    padding-inline: .3rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
}