/* Desktop Sidebar Styling */
.navbar-container {
    width: 12%;
    background-color: #FAF9F6;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    z-index: 10;
}

/* Buttons Container */
.buttons-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Navbar Button Styling */
.navbar-button {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 8px;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    color: #000080;
    font-weight: 600;
    background-color: #FAF9F6;
    transition: background-color 0.3s ease;
}

.navbar-button:hover {
    background-color: rgba(234, 239, 244, 0.614);
}

/* Menu Icon for Mobile */
.menu-icon {
    display: none;
    cursor: pointer;
    position: fixed;
    top: 2rem;
    left: 1rem;
    z-index: 20;
    color: #000080;
}

/* Overlay Navbar for Mobile */
.navbar-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 15;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Show the overlay when open on mobile */
.navbar-overlay.open {
    display: flex;
    opacity: 1;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 100%;
    min-width: 100%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

/* Responsive styling for mobile */
@media (max-width: 768px) {
    .navbar-container {
        display: none;
    }

    /* Show menu icon for mobile */
    .menu-icon {
        display: block;
    }

    /* Show navbar-overlay as overlay */
    .navbar-overlay {
        display: flex;
    }
}

@media print {
    .navbar-container, .menu-icon {
        display: none;
    }
}
