.mode-button {
    height: 2.5rem;
    background-color: #000080;
    color: white;
    font-size: 1.2rem;
    padding: .4rem;
    margin-bottom: 2rem;
    font-weight: 600;
    cursor: pointer;
    margin-left: 1rem;
    margin-top: 1rem;
}

.mode-button:hover {
    background-color: #01015d;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5rem;
}

.form-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.form-part1 {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.form-part2 {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.form-part3 {
    width: 27%;
}

.form-label {
    font-weight: 600;
    font-size: 1.7rem;

}

input,
select {
    width: 20rem;
    height: 3rem;
    border: 1px solid #000080;
    border-radius: .5rem;
    padding: .6rem;
}

.panou-item {
    display: flex;
    flex-direction: column;
}

.button-form {
    margin-top: 1rem;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #000080;
    color: white;
    font-size: 1.2rem;
    padding: .4rem;
    margin-bottom: 2rem;
}

.qr-code-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.download-qr {
    margin-left: 1rem;
    font-size: 1.3rem;
    color: #000080;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.download-qr:hover {
    color: #000080c2;
}

.text-mode-input {
    width: 50rem;
    height: 30rem;
    margin-bottom: 2rem;
}